.Add_banner{
    height: 380px;
    max-width: 320px;
    background-color: white;
    z-index: 1;
    margin: 5px;
    margin-bottom:10px;
    align-items: center;
    
}

.Add_header{
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding :15px;

}
.Add_body{
    /* display: flex;
    align-items: center; */
    /* padding-left: 10px;
    padding-right: 10px; */
    flex-wrap: wrap;
}
.Add_footer{
    padding:10px;
}

.Add_image{
    width: 140px;
    height: 100px;
    margin: 5px;
}
