.header{
    height: 60px;
    display:flex;
    align-items:center;
    background-color: black;
    position:sticky;
    top: 0;
    z-index: 100;
}

.header_bottom{
    background-color: #232f3e;
}
.header_bottom ul{
    list-style:none;
    padding: 5px 30px 10px 30px;
    margin:0;
    display:flex;
    align-items: center;
}
.header_bottom ul li{
    color:white;
    margin-right: 20px;
}

.header_logo{
    width: 100px;
    object-fit:contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header_Search{
    display:flex;
    flex:1;
    align-items: center;
    border-radius: 24px;
}
.header_SearchInput{
    height:22px;
    padding: 10px;
    border: rgba(255, 166, 0, 0.87);
    width: 100%;
}
.header_searchIcon{
    padding: 5px;
    height:22px !important;
    background-color:rgba(255, 166, 0, 0.87);
}

.header_nav{
    display:flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    flex-direction:column;
    margin-left: 10px;
    margin-right: 10px;
    color:white;
}
.header_optionLineOne{
    font-size:10px
}
.header_optionLineTwo{
    font-size:13px;
    font-weight:800;

}

.header_bakset{
    display:flex;
    align-items: center;
    /* padding: 5px; */
    /* height: 42px; */
    color: white;
    margin-left: 10px;
}
.header_basketItem{
    display:flex;
    flex-direction:column-reverse;
    margin-right:10px;
    margin-left:0px;
    color:white;
}





